[Unit]
Description=Sphinx Rake Index
After=network.target
PartOf=docbox.service

# Uncomment for socket activation (see below)
# Requires=puma.socket

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple
#RemainAfterExit=yes
# Preferably configure a non-privileged user
# User=

# The path to the puma application root
# Also replace the "<WD>" place holders below with this path.

# Helpful for debugging socket activation, etc.
# Environment=PUMA_DEBUG=1
# The command to start Puma. This variant uses a binstub generated via
# `bundle binstubs puma --path ./sbin` in the WorkingDirectory
# (replace "<WD>" below)
Environment=RAILS_ENV=production
WorkingDirectory=/home/docbox/DBServer
User=docbox
Group=docbox
ExecStart=/home/docbox/.rvm/gems/ruby-3.1.2@docbox_r6/wrappers/sidekiq -e production -c 3 
Restart=on-failure

[Install]
WantedBy=graphical.target