<% status_summary= Page.status_hash %>
Upload:<%= status_summary[:upload] %> |
Convert:<%= status_summary[:convert] %> |

<% pending_backups=status_summary[:pending_backup] %>

<% if pending_backups!="0" %>
    <span style="color: yellow"> No Backup: <%= pending_backups %></span>  |
<% end %>

<% pending_ocr=status_summary[:pending_ocr] %>
<% if pending_ocr!="0" %>
    <span style="color: yellow">No OCR: <%= pending_ocr %></span> |
<% end %>


<% if Log.check_errors? then %>
    <span style="background: red"><a href="/status">ERROR</a></span>
<% elsif (not Converter.connected? and not Scanner.connected?) %>
    <span><a href="/status">No Connection</a></span>
<% elsif not Converter.connected? %>
    <span><a href="/status">No Converter</a></span>
<% elsif not Scanner.connected? %>
    <span><a href="/status">No Scanner</a></span>
<% else %>
    <span><a href="/status">STATUS:OK</a></span>
<% end %>

