<div id="keywords" class="line_break">
  <div class="form-field">
    <% Tag.all.each do |tag| %>

          <div class="pretty p-default p-curve" style="float:left;min-width:70px;margin-bottom: 5px;margin-top: 5px">
          <%= check_box_tag("document[keyword_list][]", tag.name, current_keywords.include?(tag.id) || current_keywords.include?(tag.name)) %>
            <div class="state p-warning"> <label><%= tag.name %>  </label></div>
        </div>
    <% end %>

    <div class="clear"></div>
  </div>
</div>


